{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center text-uppercase m-5">Reservation edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success btn-sm" type="submit" value="Update" />
    {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
                <input class="btn btn-danger btn-sm" type="submit" value="Delete">
            {{ form_end(delete_form) }}

    <a class="btn btn-primary btn-sm" href="{{ path('reservation_index') }}">Back to the list</a>

{% endblock %}
