{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center text-uppercase m-5">Reservation</h1>

            <a class="btn btn-info btn-sm" href="{{ path('listing_index', {'reservation_id': reservation.id , 'flight_id': reservation.flight.id, 'planemodel_id': reservation.flight.plane.id}) }}">Show Informations</a>
            <a class="btn btn-primary btn-sm" href="{{ path('reservation_index') }}">Back to the list</a>
            <a class="btn btn-warning btn-sm" href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
            {{ form_end(delete_form) }}

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Nbreservedseats</th>
                <td>{{ reservation.nbReservedSeats }}</td>
            </tr>
            <tr>
                <th>Publicationdate</th>
                <td>{% if reservation.publicationDate %}{{ reservation.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Passenger</th>
                {% for passenger in reservation.passenger %}
                <td>{{ passenger.firstName }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Flight</th>
                <td>{{ reservation.flight }}</td>
            </tr>
            <tr>
                <th>Wasdone</th>
                <td>{% if reservation.wasDone %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}


