{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center text-uppercase m-5">Planemodel</h1>

            <a class="btn btn-primary btn-sm" href="{{ path('planemodel_index') }}">Back to the list</a>
            <a class="btn btn-warning btn-sm" href="{{ path('planemodel_edit', { 'id': planeModel.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
            {{ form_end(delete_form) }}


    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planeModel.id }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ planeModel.model }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ planeModel.manufacturer }}</td>
            </tr>
            <tr>
                <th>Cruisespeed</th>
                <td>{{ planeModel.cruiseSpeed }}</td>
            </tr>
            <tr>
                <th>Planenbseats</th>
                <td>{{ planeModel.planeNbSeats }}</td>
            </tr>
            <tr>
                <th>Isavailable</th>
                <td>{% if planeModel.isAvailable %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
